[submodule "corkboard"]
	path = corkboard
	url = https://gitlab.com/fuiz/corkboard.git
[submodule "backend"]
	path = backend
	url = https://gitlab.com/fuiz/hosted-server.git
[submodule "frontend"]
	path = frontend
	url = https://gitlab.com/fuiz/website.git
